In [6]:
# pip3 install sqlalchemy mysql-connector pyodbc pymssql

In [7]:
import random
import time as t
from datetime import date, datetime, time, timedelta

import mysql.connector
import pandas as pd
# import pyodbc
from sqlalchemy import create_engine

In [8]:
engine = create_engine("mssql+pymssql://atoti:atoti2@DESKTOP-G378BG1/?charset=utf8")

In [9]:
dbConnection = engine.connect()

# Uploading Hospital data to db

In [10]:
hospitals_df = pd.read_csv("data/hospital_details.csv")

In [ ]:
hospitals_df.to_sql(name="hospitals", con=dbConnection, schema="atoti", if_exists="append", index=False)

# Uploading devices to db

In [12]:
medi_device = pd.read_csv("data/devices_details.csv")
medi_device.head()

                          EQUIPMENT  UNIT_COST
0              Thermometer clinical       1.36
1  Intubation tubes, assorted sizes       3.17
2                        Pedal Pins       4.08
3                       Stethoscope       5.43
4                       Chest tubes       5.43

In [108]:
medi_device.to_sql(name="devices", con=dbConnection, schema="atoti", if_exists="append", index=False)

# Uploading Sales details to db

In [20]:
sales_template = pd.read_csv("data/medical_device_price_listing.csv")
len(sales_template)

494

In [21]:
sales_combined = pd.merge(sales_template, medi_device, on="EQUIPMENT")
sales_combined

,DEPARTMENT,EQUIPMENT,QTY,UNIT_COST,TOTAL COST,EQUIPMENT_ID,PURCHASE_PRICE
0,CASUALTY,Thermometer clinical,10,1.36,13.59,E0000,1.01
1,MCH/FP,Thermometer clinical,8,1.36,10.87,E0000,1.01
2,OUT PATIENT DEPARTMENT,Thermometer clinical,20,1.36,27.17,E0000,1.01
3,WARD,Thermometer clinical,10,1.36,13.59,E0000,1.01
4,CASUALTY,"Intubation tubes, assorted sizes",6,3.17,19.02,E0001,2.61
...,...,...,...,...,...,...,...
489,X - RAY,Ultra sound unit(general),1,27173.91,27173.91,E0487,19952.96
490,X - RAY,OPG Unit,1,49818.84,49818.84,E0489,36075.26
491,X - RAY,Mammography unit,1,54347.83,54347.83,E0490,44115.15
492,X - RAY,Mobile X -ray unit with Image intensifier,1,63405.80,63405.80,E0491,50677.41
493,X - RAY,Screening unit,1,108695.65,108695.65,E0493,84858.20

In [22]:
sales_combined.drop(columns=["TOTAL COST", "EQUIPMENT", "PURCHASE_PRICE"], inplace=True)

In [24]:
hospital_list = [
    "US_HOSP_1",
    "US_HOSP_2",
    "US_HOSP_3",
    "US_HOSP_4",
    "US_HOSP_5",
    "US_HOSP_6",
    "US_HOSP_7",
    "US_HOSP_8",
    "US_HOSP_9",
    "US_HOSP_10",
    "FR_HOSP_1",
    "FR_HOSP_2",
    "FR_HOSP_3",
    "FR_HOSP_4",
    "FR_HOSP_5",
    "FR_HOSP_6",
    "FR_HOSP_7",
    "FR_HOSP_8",
    "FR_HOSP_9",
    "FR_HOSP_10",
    "DE_HOSP_1",
    "DE_HOSP_2",
    "DE_HOSP_3",
    "DE_HOSP_4",
    "DE_HOSP_5",
    "DE_HOSP_6",
    "DE_HOSP_7",
    "DE_HOSP_8",
    "DE_HOSP_9",
    "DE_HOSP_10",
]

In [25]:
sales_cnt = 1

### Functions to generate mock sales transaction

In [119]:
# Generating sales for range of date or for real-time data feed

orders = pd.DataFrame()

def generate_sales(txn_dt, realtime):
    global sales_cnt, orders
    sales_number = random.randint(90, 250)
    sample_sales = sales_combined.sample(sales_number)

    while len(sample_sales) > 10:
        update_tm = datetime.now()
            
        if realtime == True:
            # throttle the database insertion for demo effect since transactions normal come in different time in the day
            sleep_tm = random.randint(1,10)
            print(f"sleeping {sleep_tm}")
            t.sleep(sleep_tm)
        else:
            rand_minute = random.randint(0,59) 
            rand_microsec = random.randint(1, 999999)
            # just random update time
            update_tm = datetime.combine(txn_dt, time((sales_cnt%8 + 10), rand_minute, rand_minute, rand_microsec))

        frac_value = random.uniform(0.05, 0.25)
        client_order = sample_sales.sample(frac=frac_value, random_state=1)
        client_order["SALE_ID"] = f"M{str(sales_cnt).zfill(9)}"
        client_order["SALE_DATE"] = update_tm.strftime("%Y-%m-%d")
        client_order["SALE_DATE"] = pd.to_datetime(client_order["SALE_DATE"])
        
        client_order["HOSPITAL_ID"] = random.choice(hospital_list)
        client_order["QTY"] = client_order.apply(
            lambda x: random.randint(1, x.QTY), axis=1
        )
        client_order["LAST_UPDATE_DATE"] = update_tm
        client_order.to_sql(name="medical_sales", con=dbConnection, schema="atoti", if_exists="append", index=False)
        orders = orders.append(client_order)

        sales_cnt += 1
        sample_sales = sample_sales.drop(client_order.index)

In [120]:
# trigger the sales from the given date till current date

def initialize_sales(start_date):
    day_count = (date.today() - start_date).days

    for single_date in (start_date + timedelta(n) for n in range(day_count)):
        generate_sales(single_date, False)

### Inserting the past sales transactions into database

In [121]:
initialize_sales(date(2021, 4, 1))

In [122]:
len(orders)

28192

In [123]:
orders.head()

,DEPARTMENT,QTY,UNIT_COST,EQUIPMENT_ID,SALE_ID,SALE_DATE,HOSPITAL_ID,LAST_UPDATE_DATE
329,MCH/FP,2,22.64,E0247,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
368,ORTHOPAEDIC TECHNOLOGY,1,36.23,E0302,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
386,ORTHOPAEDIC TECHNOLOGY,1,905.80,E0323,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
12,WARD,1,5.43,E0003,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
53,CASUALTY,1,4.53,E0022,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886

### Triggering sales for real-time demo purpose.  

Toggle over to the dashboard from 02-main_mssql_realtime.ipynb to see the dashboards reflecting the changes real-time.

In [ ]:
generate_sales(None, True)

In [126]:
orders

,DEPARTMENT,QTY,UNIT_COST,EQUIPMENT_ID,SALE_ID,SALE_DATE,HOSPITAL_ID,LAST_UPDATE_DATE
329,MCH/FP,2,22.64,E0247,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
368,ORTHOPAEDIC TECHNOLOGY,1,36.23,E0302,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
386,ORTHOPAEDIC TECHNOLOGY,1,905.80,E0323,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
12,WARD,1,5.43,E0003,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
53,CASUALTY,1,4.53,E0022,M000000001,2021-04-01,FR_HOSP_4,2021-04-01 11:15:15.036886
...,...,...,...,...,...,...,...,...
91,MCH/FP,2,17.21,E0035,M000003064,2021-09-23,FR_HOSP_2,2021-09-23 08:32:15.144232
4,CASUALTY,6,3.17,E0001,M000003065,2021-09-23,DE_HOSP_6,2021-09-23 08:32:17.160095
133,CSSD,2,34250.73,E0055,M000003065,2021-09-23,DE_HOSP_6,2021-09-23 08:32:17.160095
356,OCCUPATIONAL THERAPY,1,31.70,E0291,M000003066,2021-09-23,DE_HOSP_2,2021-09-23 08:32:23.176160
258,LABORATORY,1,299.56,E0177,M000003067,2021-09-23,DE_HOSP_9,2021-09-23 08:32:33.199753